

@{
    ViewData["Title"] = "Error404";
}

<div class="container">
    <p class="text-center">
        <img src="~/images/404banner.JPG" class="img-fluid" />
        <br />

        <img src="~/images/404page.png" />
    </p>
</div>
