@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center">
    <h3 class="text-dark">Get in the driver's seat and get paid</h3>
    <br />
    <p>
        <img src="~/img/taxilogo.png" />
    </p>
</div>
